
@media screen and (min-width: 350px) {
    body {
        margin-left: .5rem;
        margin-right: .5rem;
        margin-top: 3.5rem;
        font-size: .8rem;
    }
    img {
        width: 6.5rem;
    }
}

@media screen and (min-width: 365px) {
    body {
        font-size: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 4rem;
    }
    img {
        width: 8rem;
    }
    .custom-container {    
        margin-bottom: 1rem;
        gap: 1.75rem;
    }
}

@media screen and (min-width: 700px) {
    img {
        width: 12rem;
    }
    .custom-container {
        gap: 3rem;
    }
}